@font-face {
	font-family: '8bit';
	src : url(../fonts/8bit.TTF);
}

html {
	background: black;
}

h1 {
	font-family: '8bit';
	text-align: center;
	color: white;
	font-size: 100%;
	margin: 100px;
}

p {
	font-family : '8bit';
	color: white;
	text-align: center;
	vertical-align: center;
	font-size: 200%;
	margin-top: 500px;
}

a {
	text-decoration : none;
	color: white;
}

a:hover {
	color: #999999;
}

#me {
	font-size: 25%;
	margin-top: 340px;
}